<script id="aboutTemplate" type="text/template">
  <h1>About Page</h1>
  <p>This is a sample application highlighting the use of :
    <ul>
      <li><a href="http://backbonejs.org/">Backbone</a>
        <ul>
          <li><a href="http://underscorejs.org/">Underscore</a></li>
          <li><a href="http://jquery.com/">jQuery</a></li>
        </ul>
      </li>
      <li><a href="http://expressjs.com/">Express</a></li>
      <li><a href="http://bookshelfjs.org">Bookshelf</a>
        <ul>
          <li><a href="http://knexjs.org/">Knex</a></li>
          <li><a href="https://github.com/kriasoft/node-sqlite">SQLite</a></li>
        </ul>
      </li>
      <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
      <li><a href="http://gulpjs.com/">Gulp</a></li>
    </ul>
  </p>
</script>
